.app{
    display:grid;
    grid-template-columns: 
    minmax(var(--layout-padding), 1fr)
    minmax(auto,var(--main-content-width))
    minmax(var(--layout-padding), 1fr);
    row-gap: 2rem;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    
}

.app > .full{
    grid-column: 1 / -1;
}

.app > main{
    grid-column: 2;
    align-content: center;
    justify-content: center;
}

.todo-app {
    width: var(--main-content-width);
    height: 100%;
    justify-items: center;
    align-items: center;
    gap: 2px;
}

.todo-list {
    display: grid;
    justify-items: center;
    flex-grow: 1;
    width: 100%;
}

.todo-list ul{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* gap:2rem; */
    width: 100%;
    height:100%;
    max-width: 50rem;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 var(--shadow1-color);
}

.todo-list ul li{
    display: grid;
    box-shadow: 0 0.5px 0 0 var(--shadow1-color);
    width: 100%;
    height:3.5rem;
    grid-auto-flow: column;
    grid-template-columns: 2fr 1fr;
}