.main-header {
    background: var(--main-bg-color);
    height: 5rem;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    color: var(--main-color);
    font-size: 1.5rem;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav a {
    margin: .5em;
}

nav a:active {
    color: purple;
}

nav a.active {
    color: darkblue;
    font-weight: bold;
    text-decoration: overline;
}